
<footer class="padding-top-xlarge light-bk">
    <div class="container">

        <div class="footer-header display-flex padding-bottom-medium border-bottom margin-bottom-medium">
            <h3>VueMemo</h3>
            <div class="flex-space-between justify-center flex-gap-large">
                <p>Ready to get started?</p>
                <a th:href="@{/signup}">
                    <button class="button main-button">
                     Get Started
                 </button>
                 </a>
            </div>
        </div>

        <div class="list-item-option flex-space-between margin-bottom-medium">

            <ul class="list-items">
                <h5>Solutions</h5>
                <li>Why VueMemo</li>
                <li>Self organization</li>
                <li>Productivity</li>
                <li>Teams</li>
            </ul>

            <ul class="list-items">
                <h5>Services</h5>
                <li>VueMemo Clipper</li>
                <li>Email to VueMemo</li>
                <li>Office Lens</li>
                <li>Featured Apps</li>
            </ul>

            <ul class="list-items">
                <h5>Sign up for free</h5>
                <li>Log in</li>
                <li>Download</li>
            </ul>

        </div>

    </div>

    <div class="container footer-links flex-space-between padding-bottom-large">
        <p>Change Language</p>
        <ul class="display-flex flex-gap-medium">
            <li>Privacy & Cookies</li>
            <li>Legal</li>
            <li>© 2024 VueMemo.com</li>
        </ul>
    </div>
</footer>