

:root{

    --main-color: rgb(123, 104, 238);
    --option-color: #46a6df;

    --dark-text-color: #374253;
    --silver-text-color: #5f6b82;
    --light-text-color: #455368;

    --shadow: 0 10px 25px #7b68ee80;

    --error-color: #f94f4f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    color: var(--silver-text-color);
}

p{
    font-size: 14px;
}

h2{
    margin-bottom: 1rem;
}

.form-avalon {
  max-width: 400px;
  padding: 1rem;
  border-radius: 5px;
}

.form-avalon .field-set{
    display: flex;
    flex-flow: column;
    margin-bottom: 1.25rem;
}

.form-avalon .form-header{
    margin-bottom: 2.3rem;
}

.form-avalon h2{
    font-weight: 600;
    color: var(--dark-text-color);
    margin-bottom: .6rem;
    font-size: 1.8rem;
}

.form-avalon label{
    margin-bottom: .3rem;
    color: var(--silver-text-color);
    font-size: 14px;
}

.form-avalon input{
   padding: .74rem .8rem;
   border-radius: 5px;
   border: 1px solid #dadfea;
}

.form-avalon input::placeholder{
    color: #b3b9c3;
}

.form-avalon button{
    width: 100%;
    margin-top: .7rem;
}

.form-avalon .from-error-message{
    padding: 1rem;
    margin-bottom: 1rem;
    color: var(--error-color);
    font-size: 14px;
    background: #ffe9e9;
}


.container{
    width: 90%;
    margin: auto;
}

.section{
    padding: 5rem 0rem;
}

.split-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

li{
    list-style: none;
    margin-bottom: .5rem;
}

.button{
    border-radius: 5px;
    padding: .9rem .8rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.main-button{
    background: var(--main-color);
    color: white;
    box-shadow: var(--shadow)
}

.center-content{
    display: flex;
    justify-content: center;
}

.margin-auto{
    margin: auto;
}

.link-style{
    color:var(--option-color);
    cursor: pointer;
}


.input-error input{
    border: 2px solid var(--error-color) !important;
}

.input-error span{
    color: var(--error-color);
    font-size: 12px;
    margin-top: .5rem;
}

