@media (max-width: 900px) {
    .hide-on-medium{
        display: none !important;
    }

    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 2rem;
    }

    h4{
        font-size: 16px;
    }

    .flex-2-columns{
        grid-template-columns: 1fr;
    }

    .column-reverse-on-mobile{
        display: flex;
        flex-direction: column-reverse;
    }

}

@media (max-width: 650px) {
    .hide-on-medium{
        display: none !important;
    }

    h1{
        font-size: 1.8rem;
    }

    h2{
        font-size: 1.6rem;
    }

    h4{
        font-size: 16px;
        line-height: 1.7;
    }

    h4,p{
        line-height: 1.7;
    }

    .container{
        width: 90%;
    }

    .button{
        padding: .9rem .6rem;
        font-size: 13px;
    }

    .padding-up-down-xlarge{
        padding: 4rem 0rem;
    }

}

@media (min-width: 900px) {
    .hide-on-large{
        display: none !important;
    }
}