<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<fragment th:replace="~{head/head}"></fragment>
<body>

    <section>
       
        <div class="container">
            <form class="form-avalon margin-auto" th:action="@{/signup}" th:object="${user}" method="post">
                <div class="form-header">
                    <h2>Create a new account</h2>
                    <p style="font-size: 14px;">Already have an account? <a th:href="@{/login}" class="link-style">Login.</a></p>
                </div>
                
                <div class="field-set"
                     th:classappend="${formError.containsKey('fullName') ? 'input-error' : ''}"
                >
                    <label for="name">Full name</label>
                    <input 
                            type="text" 
                            id="full_name" 
                            name="name" 
                            th:field="*{name}" 
                            placeholder="John Smith"
                            />
                    <span class="error-message" th:text="${formError['fullName']}"></span>
                </div>

                <div class="field-set"
                     th:classappend="${formError.containsKey('email') ? 'input-error' : ''}"
                >
                    <label for="email">Email</label>
                    <input type="email" 
                           id="email" 
                           name="email" 
                           th:field="*{email}" placeholder="example@business.com" 
                           />
                    <span class="error-message" th:text="${formError['email']}"></span>
                </div>

                <div class="field-set"
                     th:classappend="${formError.containsKey('password') ? 'input-error' : ''}"
                >
                    <label for="password">Password</label>
                    <input type="password" 
                           id="password" 
                           name="password" 
                           placeholder="Minimum 8 characters"  
                           />
                    <span class="error-message" th:text="${formError['password']}"></span>
                </div>
                <div>
                    <button class="button main-button" type="submit">Register</button>
                </div>
            </form>
        </div>


    </section>

    
</body>
</html>
